@font-face {
  font-family: Ubuntu-L;
  src: url("../fonts/Ubuntu-R.ttf");
}

body {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: [header]3vh [data] auto [footer] 3vh;
  grid-template-columns: [nav]10vw [data]55vw [log]25vw 10vw;
  text-align: center;
  font-family: Ubuntu-L !important;
}

.navHolder {
  grid-row: 2 / span 4;
  grid-column: nav;
  display: flex;
  flex-flow: column;
  border-right: 2px solid saddlebrown;
}

.navList {
  text-align: left;
  list-style: disc;
}

a:active{
  color: red;
}

#logger {
  height: -webkit-fill-available;
  font-size: 15px;
  color: #202746;
  grid-column: log;
  grid-row: 2;
  overflow: scroll;
  margin: 20px;
  border: 1px solid rebeccapurple;
}

.main {
  grid-row: data;
  grid-column: 2;
  border: 3px solid rebeccapurple;
  padding: 2vh;
}

footer {
  color: white;
  background-color: rgba(2, 3, 4, 0.5);
  grid-row: footer;
  grid-column: 2 /4;
}

.sortdiv {
  display: grid;
  margin-top: 10px;
  border: 1px solid black;
  padding: 15px;
  grid-template-columns: 50% 50%;
}
