<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form id="form">
    <label for="fileBox">Upload File</label>
    <input id="fileBox" type="file" name="file">
    <button type="submit" >Click ME</button>
</form>

<div class="inner">

</div>

<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script type="text/javascript">

</script>
</body>
</html>